{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the HOme page</h1>
                <h3>Something about the Home page</h3>
            </div>
        </div>
    </div>
{{end}}
